<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.treebricks.tourbangladesh">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Suggestion"
            android:label="Spot Suggestion"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SpotFinder"
            android:label="Spot Finder"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.About"
            android:label="App Info"
            android:parentActivityName=".activities.Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Details"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Settings"
            android:label="Settings"
            android:parentActivityName=".activities.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyChAQaqNRHJ5GpocynJVk_7VIWm8NtlDn8" />

        <activity
            android:name=".activities.MapActivity"
            android:parentActivityName=".activities.MainActivity"
            />
        <activity android:name=".activities.Emergency"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity"/>

    </application>

</manifest>